/////////////////////////////////////////////////////
///////////////////// ACCESSIBILITY CONTAINER
#accessibility.accessibility {
    // RESET
    & *,
    & *::after,
    & *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        // NON selection REF  https://stackoverflow.com/questions/880512/prevent-text-selection-after-double-click
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */
    }

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 280px;
    padding: 15px 18.5px 25px 19.5px;
    box-shadow: 0px 2px 5px #ccc;
    word-spacing: 0;
    // background: $color-white !important;
    // background-color: $color-white !important;

    // &  div {
    //     background: $color-white !important;
    //     background-color: $color-white !important;
    // }

    .accessibility--close {
        display: block;
        color: $color-grey-light-1 !important;
        font-size: 24px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: color 0.4s;

        &:hover {
            color: $color-grey !important;
        }
    }

    .accessibility--toggle {
        font-size: 24px;
        color: $color-primary !important;
        cursor: pointer;
    }
}
