.accessibility__buttons {
    text-align: center;

    & .save-preference {
        display: block;
        width: 100%;
        border: 0;
        background-color: $color-primary!important;
        color: $color-white!important;
        height: 34px;
        border-radius: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .reset {
        color: red!important;
        // background-color: $color-white!important;
        // background: $color-white!important;
        display: block;
        text-decoration: none;
        
        &::first-letter {
            text-decoration: underline;
        }
    }
}