.accessibility__item {
    border-bottom: 1px solid $color-grey-light-1;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &--heading {
        font-size: 16px;
        font-weight: 600;
        color: $color-primary;
        margin-bottom: 10px;
    }

    &--heading-1 {
        font-size: 11px;
        font-weight: 400;
        color: $color-grey;
        margin-bottom: 10px;
        text-decoration: none;
        display: inline-block;

        &::first-letter {
            text-decoration: underline!important;
        }
    }

    &--heading-2 {
        font-size: 15px;
        font-weight: 400;
        color: $color-grey;
        margin-bottom: 10px;
    }

    &--box {
        display: flex;
        font-size: 16px;
        
        .box {
            display: flex;
            align-items: center;
            justify-content: center;

            color: $color-primary;
            font-weight: 600;
            width: 42px;
            height: 42px;
            background-color: $color-grey-light;
            border: 1px solid $color-grey-light-1;
            border-radius: 5px;
            cursor: pointer;
            
            
            &:not(:last-child) {
                margin-right: 20px;
            }

        }
    }

    &--circle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .circle {
            display: flex;
            align-items: center;
            justify-content: center;

            color: $color-primary;
            font-weight: 600;
            width: 42px;
            height: 42px;
            border: 1px solid $color-grey-light-1;
            border-radius: 50%;
            cursor: pointer;
        }

        .accessibility__item--heading {
            margin-bottom: 0;
        }
    }


    & .icon {
        font-size: 16px;
        font-weight: 400!important;
        transition: background .4s;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }

    &.accessibility__read-speaker,  &.accessibility__reader-guide {
        a {
            text-decoration: none;
        }

        .icon {
            &:hover {
                background-color: transparent;
            }
        }
    }

    &.accessibility__read-speaker {
        .icon { color: $color-secondary}
    }

    & .active {
        background-color: $color-primary;
        color: $color-white;
    }

}