// COLORS
$color-primary: #083689;
$color-primary-reverse: #FCC016;
$color-secondary: #B0D34B;
$color-secondary-reverse: #171717;

$color-grey: #525863;
$color-grey-light: #F4F6F9;

$color-white: #ffffff;
$color-black: #000000;