///////////////////////////////////////////////////////////
/////////////// HIGH CONTRAST
body.ACC__THEMEPRIMARY .placebo {
    line-height: normal;
}

body.ACC__THEMEPRIMARY * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body.ACC__THEMEPRIMARY a,
body.ACC__THEMEPRIMARY abbr,
body.ACC__THEMEPRIMARY acronym,
body.ACC__THEMEPRIMARY address,
body.ACC__THEMEPRIMARY article,
body.ACC__THEMEPRIMARY aside,
body.ACC__THEMEPRIMARY b,
body.ACC__THEMEPRIMARY basefont,
body.ACC__THEMEPRIMARY bdi,
body.ACC__THEMEPRIMARY big,
body.ACC__THEMEPRIMARY blink,
body.ACC__THEMEPRIMARY blockquote,
body.ACC__THEMEPRIMARY body,
body.ACC__THEMEPRIMARY button,
body.ACC__THEMEPRIMARY canvas,
body.ACC__THEMEPRIMARY caption,
body.ACC__THEMEPRIMARY center,
body.ACC__THEMEPRIMARY cite,
body.ACC__THEMEPRIMARY code,
body.ACC__THEMEPRIMARY col,
body.ACC__THEMEPRIMARY colgroup,
body.ACC__THEMEPRIMARY command,
body.ACC__THEMEPRIMARY dd,
body.ACC__THEMEPRIMARY del,
body.ACC__THEMEPRIMARY details,
body.ACC__THEMEPRIMARY dfn,
body.ACC__THEMEPRIMARY dir,
body.ACC__THEMEPRIMARY div,
body.ACC__THEMEPRIMARY dl,
body.ACC__THEMEPRIMARY dt,
body.ACC__THEMEPRIMARY em,
body.ACC__THEMEPRIMARY embed,
body.ACC__THEMEPRIMARY fieldset,
body.ACC__THEMEPRIMARY figcaption,
body.ACC__THEMEPRIMARY figure,
body.ACC__THEMEPRIMARY font,
body.ACC__THEMEPRIMARY footer,
body.ACC__THEMEPRIMARY form,
body.ACC__THEMEPRIMARY h1,
body.ACC__THEMEPRIMARY h1 a,
body.ACC__THEMEPRIMARY h1 a b,
body.ACC__THEMEPRIMARY h1 abbr,
body.ACC__THEMEPRIMARY h1 b,
body.ACC__THEMEPRIMARY h1 center,
body.ACC__THEMEPRIMARY h1 em,
body.ACC__THEMEPRIMARY h1 i,
body.ACC__THEMEPRIMARY h1 span,
body.ACC__THEMEPRIMARY h1 strong,
body.ACC__THEMEPRIMARY h2,
body.ACC__THEMEPRIMARY h2 a,
body.ACC__THEMEPRIMARY h2 a b,
body.ACC__THEMEPRIMARY h2 abbr,
body.ACC__THEMEPRIMARY h2 b,
body.ACC__THEMEPRIMARY h2 center,
body.ACC__THEMEPRIMARY h2 em,
body.ACC__THEMEPRIMARY h2 i,
body.ACC__THEMEPRIMARY h2 span,
body.ACC__THEMEPRIMARY h2 strong,
body.ACC__THEMEPRIMARY h3,
body.ACC__THEMEPRIMARY h3 a,
body.ACC__THEMEPRIMARY h3 a b,
body.ACC__THEMEPRIMARY h3 abbr,
body.ACC__THEMEPRIMARY h3 b,
body.ACC__THEMEPRIMARY h3 center,
body.ACC__THEMEPRIMARY h3 em,
body.ACC__THEMEPRIMARY h3 i,
body.ACC__THEMEPRIMARY h3 span,
body.ACC__THEMEPRIMARY h3 strong,
body.ACC__THEMEPRIMARY h4,
body.ACC__THEMEPRIMARY h4 a,
body.ACC__THEMEPRIMARY h4 a b,
body.ACC__THEMEPRIMARY h4 abbr,
body.ACC__THEMEPRIMARY h4 b,
body.ACC__THEMEPRIMARY h4 center,
body.ACC__THEMEPRIMARY h4 em,
body.ACC__THEMEPRIMARY h4 i,
body.ACC__THEMEPRIMARY h4 span,
body.ACC__THEMEPRIMARY h4 strong,
body.ACC__THEMEPRIMARY h5,
body.ACC__THEMEPRIMARY h5 a,
body.ACC__THEMEPRIMARY h5 a b,
body.ACC__THEMEPRIMARY h5 abbr,
body.ACC__THEMEPRIMARY h5 b,
body.ACC__THEMEPRIMARY h5 center,
body.ACC__THEMEPRIMARY h5 em,
body.ACC__THEMEPRIMARY h5 i,
body.ACC__THEMEPRIMARY h5 span,
body.ACC__THEMEPRIMARY h5 strong,
body.ACC__THEMEPRIMARY h6,
body.ACC__THEMEPRIMARY h6 a,
body.ACC__THEMEPRIMARY h6 a b,
body.ACC__THEMEPRIMARY h6 abbr,
body.ACC__THEMEPRIMARY h6 b,
body.ACC__THEMEPRIMARY h6 center,
body.ACC__THEMEPRIMARY h6 em,
body.ACC__THEMEPRIMARY h6 i,
body.ACC__THEMEPRIMARY h6 span,
body.ACC__THEMEPRIMARY h6 strong,
body.ACC__THEMEPRIMARY header,
body.ACC__THEMEPRIMARY hgroup,
body.ACC__THEMEPRIMARY html,
body.ACC__THEMEPRIMARY i,
body.ACC__THEMEPRIMARY iframe,
body.ACC__THEMEPRIMARY img,
body.ACC__THEMEPRIMARY input,
body.ACC__THEMEPRIMARY ins,
body.ACC__THEMEPRIMARY kbd,
body.ACC__THEMEPRIMARY label,
body.ACC__THEMEPRIMARY legend,
body.ACC__THEMEPRIMARY li,
body.ACC__THEMEPRIMARY listing,
body.ACC__THEMEPRIMARY main,
body.ACC__THEMEPRIMARY mark,
body.ACC__THEMEPRIMARY marquee,
body.ACC__THEMEPRIMARY menu,
body.ACC__THEMEPRIMARY meter,
body.ACC__THEMEPRIMARY multicol,
body.ACC__THEMEPRIMARY nav,
body.ACC__THEMEPRIMARY nobr,
body.ACC__THEMEPRIMARY object,
body.ACC__THEMEPRIMARY ol,
body.ACC__THEMEPRIMARY option,
body.ACC__THEMEPRIMARY output,
body.ACC__THEMEPRIMARY p,
body.ACC__THEMEPRIMARY plaintext,
body.ACC__THEMEPRIMARY pre,
body.ACC__THEMEPRIMARY progress,
body.ACC__THEMEPRIMARY q,
body.ACC__THEMEPRIMARY rb,
body.ACC__THEMEPRIMARY rp,
body.ACC__THEMEPRIMARY rt,
body.ACC__THEMEPRIMARY ruby,
body.ACC__THEMEPRIMARY s,
body.ACC__THEMEPRIMARY samp,
body.ACC__THEMEPRIMARY section,
body.ACC__THEMEPRIMARY select,
body.ACC__THEMEPRIMARY small,
body.ACC__THEMEPRIMARY span,
body.ACC__THEMEPRIMARY strike,
body.ACC__THEMEPRIMARY strong,
body.ACC__THEMEPRIMARY sub,
body.ACC__THEMEPRIMARY summary,
body.ACC__THEMEPRIMARY sup,
body.ACC__THEMEPRIMARY svg,
body.ACC__THEMEPRIMARY table,
body.ACC__THEMEPRIMARY tbody,
body.ACC__THEMEPRIMARY td,
body.ACC__THEMEPRIMARY text,
body.ACC__THEMEPRIMARY textarea,
body.ACC__THEMEPRIMARY th,
body.ACC__THEMEPRIMARY thead,
body.ACC__THEMEPRIMARY time,
body.ACC__THEMEPRIMARY tr,
body.ACC__THEMEPRIMARY tt,
body.ACC__THEMEPRIMARY u,
body.ACC__THEMEPRIMARY ul,
body.ACC__THEMEPRIMARY var,
body.ACC__THEMEPRIMARY video,
body.ACC__THEMEPRIMARY xmp {
    -moz-appearance: none !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    background-image: none !important;
    text-shadow: none !important;
    user-select: text !important;
}

body.ACC__THEMEPRIMARY a,
body.ACC__THEMEPRIMARY abbr,
body.ACC__THEMEPRIMARY acronym,
body.ACC__THEMEPRIMARY address,
body.ACC__THEMEPRIMARY article,
body.ACC__THEMEPRIMARY aside,
body.ACC__THEMEPRIMARY b,
body.ACC__THEMEPRIMARY basefont,
body.ACC__THEMEPRIMARY bdi,
body.ACC__THEMEPRIMARY big,
body.ACC__THEMEPRIMARY blink,
body.ACC__THEMEPRIMARY blockquote,
body.ACC__THEMEPRIMARY body,
body.ACC__THEMEPRIMARY canvas,
body.ACC__THEMEPRIMARY caption,
body.ACC__THEMEPRIMARY center,
body.ACC__THEMEPRIMARY cite,
body.ACC__THEMEPRIMARY code,
body.ACC__THEMEPRIMARY col,
body.ACC__THEMEPRIMARY colgroup,
body.ACC__THEMEPRIMARY command,
body.ACC__THEMEPRIMARY dd,
body.ACC__THEMEPRIMARY del,
body.ACC__THEMEPRIMARY details,
body.ACC__THEMEPRIMARY dfn,
body.ACC__THEMEPRIMARY dir,
body.ACC__THEMEPRIMARY div,
body.ACC__THEMEPRIMARY dl,
body.ACC__THEMEPRIMARY dt,
body.ACC__THEMEPRIMARY em,
body.ACC__THEMEPRIMARY embed,
body.ACC__THEMEPRIMARY fieldset,
body.ACC__THEMEPRIMARY figcaption,
body.ACC__THEMEPRIMARY figure,
body.ACC__THEMEPRIMARY font,
body.ACC__THEMEPRIMARY footer,
body.ACC__THEMEPRIMARY form,
body.ACC__THEMEPRIMARY h1,
body.ACC__THEMEPRIMARY h1 a,
body.ACC__THEMEPRIMARY h1 a b,
body.ACC__THEMEPRIMARY h1 abbr,
body.ACC__THEMEPRIMARY h1 b,
body.ACC__THEMEPRIMARY h1 center,
body.ACC__THEMEPRIMARY h1 em,
body.ACC__THEMEPRIMARY h1 i,
body.ACC__THEMEPRIMARY h1 span,
body.ACC__THEMEPRIMARY h1 strong,
body.ACC__THEMEPRIMARY h2,
body.ACC__THEMEPRIMARY h2 a,
body.ACC__THEMEPRIMARY h2 a b,
body.ACC__THEMEPRIMARY h2 abbr,
body.ACC__THEMEPRIMARY h2 b,
body.ACC__THEMEPRIMARY h2 center,
body.ACC__THEMEPRIMARY h2 em,
body.ACC__THEMEPRIMARY h2 i,
body.ACC__THEMEPRIMARY h2 span,
body.ACC__THEMEPRIMARY h2 strong,
body.ACC__THEMEPRIMARY h3,
body.ACC__THEMEPRIMARY h3 a,
body.ACC__THEMEPRIMARY h3 a b,
body.ACC__THEMEPRIMARY h3 abbr,
body.ACC__THEMEPRIMARY h3 b,
body.ACC__THEMEPRIMARY h3 center,
body.ACC__THEMEPRIMARY h3 em,
body.ACC__THEMEPRIMARY h3 i,
body.ACC__THEMEPRIMARY h3 span,
body.ACC__THEMEPRIMARY h3 strong,
body.ACC__THEMEPRIMARY h4,
body.ACC__THEMEPRIMARY h4 a,
body.ACC__THEMEPRIMARY h4 a b,
body.ACC__THEMEPRIMARY h4 abbr,
body.ACC__THEMEPRIMARY h4 b,
body.ACC__THEMEPRIMARY h4 center,
body.ACC__THEMEPRIMARY h4 em,
body.ACC__THEMEPRIMARY h4 i,
body.ACC__THEMEPRIMARY h4 span,
body.ACC__THEMEPRIMARY h4 strong,
body.ACC__THEMEPRIMARY h5,
body.ACC__THEMEPRIMARY h5 a,
body.ACC__THEMEPRIMARY h5 a b,
body.ACC__THEMEPRIMARY h5 abbr,
body.ACC__THEMEPRIMARY h5 b,
body.ACC__THEMEPRIMARY h5 center,
body.ACC__THEMEPRIMARY h5 em,
body.ACC__THEMEPRIMARY h5 i,
body.ACC__THEMEPRIMARY h5 span,
body.ACC__THEMEPRIMARY h5 strong,
body.ACC__THEMEPRIMARY h6,
body.ACC__THEMEPRIMARY h6 a,
body.ACC__THEMEPRIMARY h6 a b,
body.ACC__THEMEPRIMARY h6 abbr,
body.ACC__THEMEPRIMARY h6 b,
body.ACC__THEMEPRIMARY h6 center,
body.ACC__THEMEPRIMARY h6 em,
body.ACC__THEMEPRIMARY h6 i,
body.ACC__THEMEPRIMARY h6 span,
body.ACC__THEMEPRIMARY h6 strong,
body.ACC__THEMEPRIMARY header,
body.ACC__THEMEPRIMARY hgroup,
body.ACC__THEMEPRIMARY html,
body.ACC__THEMEPRIMARY i,
body.ACC__THEMEPRIMARY iframe,
body.ACC__THEMEPRIMARY input,
body.ACC__THEMEPRIMARY ins,
body.ACC__THEMEPRIMARY kbd,
body.ACC__THEMEPRIMARY label,
body.ACC__THEMEPRIMARY legend,
body.ACC__THEMEPRIMARY li,
body.ACC__THEMEPRIMARY listing,
body.ACC__THEMEPRIMARY main,
body.ACC__THEMEPRIMARY mark,
body.ACC__THEMEPRIMARY marquee,
body.ACC__THEMEPRIMARY menu,
body.ACC__THEMEPRIMARY meter,
body.ACC__THEMEPRIMARY multicol,
body.ACC__THEMEPRIMARY nobr,
body.ACC__THEMEPRIMARY object,
body.ACC__THEMEPRIMARY ol,
body.ACC__THEMEPRIMARY option,
body.ACC__THEMEPRIMARY output,
body.ACC__THEMEPRIMARY p,
body.ACC__THEMEPRIMARY plaintext,
body.ACC__THEMEPRIMARY pre,
body.ACC__THEMEPRIMARY progress,
body.ACC__THEMEPRIMARY q,
body.ACC__THEMEPRIMARY rb,
body.ACC__THEMEPRIMARY rp,
body.ACC__THEMEPRIMARY rt,
body.ACC__THEMEPRIMARY ruby,
body.ACC__THEMEPRIMARY s,
body.ACC__THEMEPRIMARY samp,
body.ACC__THEMEPRIMARY section,
body.ACC__THEMEPRIMARY small,
body.ACC__THEMEPRIMARY span,
body.ACC__THEMEPRIMARY strike,
body.ACC__THEMEPRIMARY strong,
body.ACC__THEMEPRIMARY sub,
body.ACC__THEMEPRIMARY summary,
body.ACC__THEMEPRIMARY sup,
body.ACC__THEMEPRIMARY svg,
body.ACC__THEMEPRIMARY table,
body.ACC__THEMEPRIMARY tbody,
body.ACC__THEMEPRIMARY td,
body.ACC__THEMEPRIMARY text,
body.ACC__THEMEPRIMARY textarea,
body.ACC__THEMEPRIMARY th,
body.ACC__THEMEPRIMARY thead,
body.ACC__THEMEPRIMARY time,
body.ACC__THEMEPRIMARY tr,
body.ACC__THEMEPRIMARY tt,
body.ACC__THEMEPRIMARY u,
body.ACC__THEMEPRIMARY ul,
body.ACC__THEMEPRIMARY var,
body.ACC__THEMEPRIMARY video,
body.ACC__THEMEPRIMARY xmp {
    background: $color-primary !important;
    background-color: $color-primary !important;
}
body.ACC__THEMEPRIMARY {
    a,
    article,
    aside,
    basefont,
    bdi,
    big,
    blink,
    blockquote,
    body,
    button,
    canvas,
    caption,
    center,
    code,
    col,
    colgroup,
    command,
    dd,
    del,
    details,
    dir,
    div,
    dl,
    dt,
    embed,
    fieldset,
    figcaption,
    figure,
    font,
    footer,
    form,
    header,
    hgroup,
    html,
    iframe,
    img,
    input,
    ins,
    kbd,
    label,
    legend,
    li,
    listing,
    main,
    mark,
    marquee,
    menu,
    meter,
    multicol,
    nav,
    nobr,
    object,
    ol,
    option,
    output,
    p,
    plaintext,
    pre,
    progress,
    q,
    rb,
    rp,
    rt,
    ruby,
    s,
    samp,
    section,
    select,
    small,
    span,
    strike,
    sub,
    summary,
    sup,
    svg,
    table,
    tbody,
    td,
    text,
    textarea,
    th,
    thead,
    time,
    tr,
    tt,
    ul,
    var,
    video,
    xmp {
        color: $color-primary-reverse !important;
        fill: $color-primary-reverse !important;
    }
}

body.ACC__THEMEPRIMARY abbr,
body.ACC__THEMEPRIMARY acronym,
body.ACC__THEMEPRIMARY b,
body.ACC__THEMEPRIMARY b span,
body.ACC__THEMEPRIMARY h1 b,
body.ACC__THEMEPRIMARY h1 strong,
body.ACC__THEMEPRIMARY h2 b,
body.ACC__THEMEPRIMARY h2 strong,
body.ACC__THEMEPRIMARY h3 b,
body.ACC__THEMEPRIMARY h3 strong,
body.ACC__THEMEPRIMARY h4 b,
body.ACC__THEMEPRIMARY h4 strong,
body.ACC__THEMEPRIMARY h5 b,
body.ACC__THEMEPRIMARY h5 strong,
body.ACC__THEMEPRIMARY h6 b,
body.ACC__THEMEPRIMARY h6 strong,
body.ACC__THEMEPRIMARY strong,
body.ACC__THEMEPRIMARY strong span {
    color: $color-primary-reverse !important;
    fill: $color-primary-reverse !important;
}

body.ACC__THEMEPRIMARY address,
body.ACC__THEMEPRIMARY address span,
body.ACC__THEMEPRIMARY cite,
body.ACC__THEMEPRIMARY cite span,
body.ACC__THEMEPRIMARY dfn,
body.ACC__THEMEPRIMARY dfn span,
body.ACC__THEMEPRIMARY em,
body.ACC__THEMEPRIMARY em span,
body.ACC__THEMEPRIMARY h1 em,
body.ACC__THEMEPRIMARY h1 i,
body.ACC__THEMEPRIMARY h2 em,
body.ACC__THEMEPRIMARY h2 i,
body.ACC__THEMEPRIMARY h3 em,
body.ACC__THEMEPRIMARY h3 i,
body.ACC__THEMEPRIMARY h4 em,
body.ACC__THEMEPRIMARY h4 i,
body.ACC__THEMEPRIMARY h5 em,
body.ACC__THEMEPRIMARY h5 i,
body.ACC__THEMEPRIMARY h6 em,
body.ACC__THEMEPRIMARY h6 i,
body.ACC__THEMEPRIMARY i,
body.ACC__THEMEPRIMARY i span,
body.ACC__THEMEPRIMARY u,
body.ACC__THEMEPRIMARY u span {
    color: $color-primary-reverse !important;
}

body.ACC__THEMEPRIMARY dt {
    border-top: thin solid $color-grey !important;
}

body.ACC__THEMEPRIMARY h1,
body.ACC__THEMEPRIMARY h1 a,
body.ACC__THEMEPRIMARY h1 a b,
body.ACC__THEMEPRIMARY h1 abbr,
body.ACC__THEMEPRIMARY h1 center,
body.ACC__THEMEPRIMARY h1 span,
body.ACC__THEMEPRIMARY h2,
body.ACC__THEMEPRIMARY h2 a,
body.ACC__THEMEPRIMARY h2 a b,
body.ACC__THEMEPRIMARY h2 abbr,
body.ACC__THEMEPRIMARY h2 center,
body.ACC__THEMEPRIMARY h2 span,
body.ACC__THEMEPRIMARY h3,
body.ACC__THEMEPRIMARY h3 a,
body.ACC__THEMEPRIMARY h3 a b,
body.ACC__THEMEPRIMARY h3 abbr,
body.ACC__THEMEPRIMARY h3 center,
body.ACC__THEMEPRIMARY h3 span,
body.ACC__THEMEPRIMARY h4,
body.ACC__THEMEPRIMARY h4 a,
body.ACC__THEMEPRIMARY h4 a b,
body.ACC__THEMEPRIMARY h4 abbr,
body.ACC__THEMEPRIMARY h4 center,
body.ACC__THEMEPRIMARY h4 span,
body.ACC__THEMEPRIMARY h5,
body.ACC__THEMEPRIMARY h5 a,
body.ACC__THEMEPRIMARY h5 a b,
body.ACC__THEMEPRIMARY h5 abbr,
body.ACC__THEMEPRIMARY h5 center,
body.ACC__THEMEPRIMARY h5 span,
body.ACC__THEMEPRIMARY h6,
body.ACC__THEMEPRIMARY h6 a,
body.ACC__THEMEPRIMARY h6 a b,
body.ACC__THEMEPRIMARY h6 abbr,
body.ACC__THEMEPRIMARY h6 center,
body.ACC__THEMEPRIMARY h6 span {
    color: $color-primary-reverse !important;
}

body.ACC__THEMEPRIMARY img {
    background: $color-grey !important;
    background-color: $color-grey !important;
}

body.ACC__THEMEPRIMARY abbr,
body.ACC__THEMEPRIMARY acronym {
    border-bottom: 1px dotted !important;
}

body.ACC__THEMEPRIMARY:focus {
    outline: thin dotted !important;
}

body.ACC__THEMEPRIMARY a.button,
body.ACC__THEMEPRIMARY a.button abbr,
body.ACC__THEMEPRIMARY a.button acronym,
body.ACC__THEMEPRIMARY a.button b,
body.ACC__THEMEPRIMARY a.button basefont,
body.ACC__THEMEPRIMARY a.button big,
body.ACC__THEMEPRIMARY a.button br,
body.ACC__THEMEPRIMARY a.button code,
body.ACC__THEMEPRIMARY a.button div,
body.ACC__THEMEPRIMARY a.button em,
body.ACC__THEMEPRIMARY a.button font,
body.ACC__THEMEPRIMARY a.button h1,
body.ACC__THEMEPRIMARY a.button h2,
body.ACC__THEMEPRIMARY a.button h3,
body.ACC__THEMEPRIMARY a.button h4,
body.ACC__THEMEPRIMARY a.button h5,
body.ACC__THEMEPRIMARY a.button h6,
body.ACC__THEMEPRIMARY a.button i,
body.ACC__THEMEPRIMARY a.button kbd,
body.ACC__THEMEPRIMARY a.button rb,
body.ACC__THEMEPRIMARY a.button rp,
body.ACC__THEMEPRIMARY a.button rt,
body.ACC__THEMEPRIMARY a.button ruby,
body.ACC__THEMEPRIMARY a.button samp,
body.ACC__THEMEPRIMARY a.button small,
body.ACC__THEMEPRIMARY a.button span,
body.ACC__THEMEPRIMARY a.button strong,
body.ACC__THEMEPRIMARY a.button tt,
body.ACC__THEMEPRIMARY a.button u,
body.ACC__THEMEPRIMARY a.button var,
body.ACC__THEMEPRIMARY a:link,
body.ACC__THEMEPRIMARY a:link abbr,
body.ACC__THEMEPRIMARY a:link acronym,
body.ACC__THEMEPRIMARY a:link b,
body.ACC__THEMEPRIMARY a:link basefont,
body.ACC__THEMEPRIMARY a:link big,
body.ACC__THEMEPRIMARY a:link br,
body.ACC__THEMEPRIMARY a:link code,
body.ACC__THEMEPRIMARY a:link div,
body.ACC__THEMEPRIMARY a:link em,
body.ACC__THEMEPRIMARY a:link font,
body.ACC__THEMEPRIMARY a:link h1,
body.ACC__THEMEPRIMARY a:link h2,
body.ACC__THEMEPRIMARY a:link h3,
body.ACC__THEMEPRIMARY a:link h4,
body.ACC__THEMEPRIMARY a:link h5,
body.ACC__THEMEPRIMARY a:link h6,
body.ACC__THEMEPRIMARY a:link i,
body.ACC__THEMEPRIMARY a:link kbd,
body.ACC__THEMEPRIMARY a:link rb,
body.ACC__THEMEPRIMARY a:link rp,
body.ACC__THEMEPRIMARY a:link rt,
body.ACC__THEMEPRIMARY a:link ruby,
body.ACC__THEMEPRIMARY a:link samp,
body.ACC__THEMEPRIMARY a:link small,
body.ACC__THEMEPRIMARY a:link span,
body.ACC__THEMEPRIMARY a:link strong,
body.ACC__THEMEPRIMARY a:link tt,
body.ACC__THEMEPRIMARY a:link u,
body.ACC__THEMEPRIMARY a:link var,
body.ACC__THEMEPRIMARY div#secondaryNav div#documentNavigation ul.navigationTabs li.tabItem {
    color: #0080ff !important;
}

body.ACC__THEMEPRIMARY button,
body.ACC__THEMEPRIMARY input,
body.ACC__THEMEPRIMARY textarea,
body.ACC__THEMEPRIMARY select,
body.ACC__THEMEPRIMARY table,
body.ACC__THEMEPRIMARY td,
body.ACC__THEMEPRIMARY th,
body.ACC__THEMEPRIMARY tr,
body.ACC__THEMEPRIMARY tt {
    border: 1px solid $color-white !important;
}

body.ACC__THEMEPRIMARY button {
    background: #600040 !important;
    background-color: #600040 !important;
}

body.ACC__THEMEPRIMARY select {
    -webkit-appearance: listbox !important;
    background: #600060 !important;
    background-color: #600060 !important;
}




